<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <script type="text/javascript"></script>
</head>

<body>
  <h1>Update Person</h1>
  <form th:action="@{|/update-person/${id}|}" th:object="${personForm}" method="post">
    <p> <label for="">Name:</label>
      <input type="text" name="name" th:field="*{name}">
       <span style="color:red" th:if="${#fields.hasErrors('name')}" 
      th:errors="*{name}">Name Error</span> 

    </p>
    <p><label for="">Age:</label>
      <input type="number" name="age" th:field="*{age}">
       <span style="color:red" th:if="${#fields.hasErrors('age')}" 
      th:errors="*{age}">Age Error</span>
    </p>
    <input type="submit" value="save">
  </form>
  <p style="color:red" th:text="${error}"></p>
</body>

</html>